body {

}

#main {
    margin: 0 auto;
    background: #d0d0d0;
}
#singer_info {
    display: flex;
    justify-content: center;
    padding: 10px;
}
#singer_img {
    width: 250px;
    height: 250px;
}
#singer_summary {
    margin-left: 30px;
    margin-top: 15px;
    width: auto;
    height: 250px;
}
#singer_img img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}
#singer_desc {
    width: 400px;
    height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 100;
}
.singer_name {
    height: 36px;
    font-size: 32px;
    font-weight: 400;
}
.singer_count {
     height: 24px;
     line-height: 24px;
}
.singer_count_item {
    padding-right: 20px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
}
.singer_count_item strong {
    font-size: 25px;
    font-weight: 400;
}
.singer_actions a {
    margin-right: 10px;
    padding-right: 30px;
}
/*热门歌曲*/
#hot_songs {
    padding: 10px;
    background: #0089ec;
    margin-left: 300px;
}
#songs_tab {
    font-size: 18px;
}
#songs_list_header {
    display: flex;
}

#songs_list_list  {
    height: 500px;
}
.songs_list_list_li {
    display: flex;
    width: 1200px;

}

.songs_list_item {
    height: 50px;
    width: 33%;
    padding-left: 40px;
    padding-right: 120px;
}